@import "../bootstrap-variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
.form-type-linkit > .input-group {
  width: 100% !important;
}
.linkit-ui-autocomplete {
  z-index: 1055 !important;
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active,
  .ui-button:active,
  .ui-button.ui-state-active:hover {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    color: #000 !important;
    font-weight: 300 !important;
  }
}
.linkit-result-line--group,
.linkit-result--group {
  font-size: 12px !important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px 14px 6px !important;
  border-bottom: 1px solid $table-border-color !important;
  line-height: 1.2 !important;
  height: auto !important;
}

.linkit-result-line:hover {
  .ui-state-active {
    color: #FFF !important;
  }
}

.linkit-result-line-wrapper {
  padding: 0 !important;
}

.linkit-result-line,
.linkit-result {
  padding: 6px 14px !important;
  cursor: pointer;
  color: #000;
  > span {
    display: block !important;
  }

  .linkit-result-line--description,
  .linkit-result--description {
    color: #999 !important;
    font-size: 12px !important;
  }

  &:hover {
    background: $blue;
    color: white !important;
    .linkit-result-line--description,
    .linkit-result--description {
      color: white !important;
    }
  }
}

.linkit-result-line--description {
  margin-left: 10px !important;
}
