.admin-add-content-list {
  @extend .list-unstyled;
  @include make-row();
  li {
    @include make-sm-column(6);
    @include make-md-column(4);
    margin-bottom: $grid-gutter-width;
  }
  .content-type-tile {
    display: block;
    background-color: #FFF;
    padding: $grid-gutter-width;
    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: 0;
    }
    &:hover {
      background-color: #fcfdfd;
    }
  }
  .content-type-title {
    color: $headings-color;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .content-type-description {
    color: $text-color;
  }
  .row-wrapper {
    @include make-row();
  }
  .icon-col {
    @include make-xs-column(3);
    text-align: center;
    color: $headings-color;
    span {
      font-size: 30px;
      @include small {
        font-size: 60px;
      }
      @include large {
        font-size: 70px;
      }
    }
  }
  .content-col {
    @include make-xs-column(9);
  }
}
