.layout-column--half-wrapper {
  display: flex;
  .layout-column--half {
    width: 50%;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
    .panel {
      border-radius: 0;
      border: none;
      .panel__title {
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid $panel-border;
        padding: 15px;
        margin: 0;
        font-size: 14px;
        line-height: 14px;
      }
      .panel__content {
        padding: 15px;
        .list-group {
          padding: 0;
          &:last-of-type {
            margin-bottom: 0;
          }
          .list-group__description {
            border-color: $panel-background;
          }
        }
      }
    }
  }
}
