body {
  font-weight: 300;
  letter-spacing: 0.02em;
}

.container {
  @media all and (min-width: $screen-sm-min) {
    body.authoring & {
      width: 96%;
      max-width: 1440px;
    }
  }
}
// Fixes btn groups breaking in tables
.btn-group {
  display: flex;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  letter-spacing: 0.02em;
}

.page-header {
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 40px;

  .breadcrumb + & {
    margin-top: 0;
  }
}

.header-wrapper {
  width: 100%;
  @include tablet {
    display: table;
  }
  .header-content {
    @include tablet {
      display: table-cell;
      vertical-align: top;
    }
    .alert {
      margin-bottom: 1em;
      margin-top: 1em;
    }
  }
  .local-actions {
    &.desktop {
      display: none;
      line-height: 54px;
      text-align: right;
      vertical-align: top;
      padding-top: 38px;
      padding-right: $grid-gutter-width/2;
      padding-left: 30px;
      @include tablet {
        display: table-cell;
      }
    }
    &.mobile {
      @include tablet {
        display: none;
        padding-left: $grid-gutter-width/2;
      }
    }
  }
}

.region-highlighted {
  margin-bottom: 1em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
ol,
ul {
  + p, ul, ol {
    margin-top: 0.5em;
  }
}

p {
  margin: 0 0 0.5em;
}

strong {
  font-weight: 600;
}

.alert {
  padding-left: 20px;
  font-weight: 600;
  .close {
    font-size: 36px;
    line-height: 21px;
    opacity: 1;
    font-weight: 300;
    text-shadow: none;
  }
}

// Page styling
.top-wrapper {
  background-color: #ECEFF1;
}
body {
  background-color: #FFF;
  padding-bottom: 75px;
  &.no-white-bg {
    background-color: #ECEFF1;
    padding-bottom: 40px;
    .main-content-wrapper {
      padding-top: 0;
    }
  }
}

.white-bg {
  background-color: #FFF;
}

.beryllium-admin-local-actions, .action-links {
  @extend .list-unstyled;
  @media all and (max-width: $screen-sm-min) {
    a {
      display: block;
      // width: 100%;
      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;
    }
  }
}

.header-wrapper {
  margin-bottom: 25px;
  .alert:last-child {
    margin-bottom: 0;
  }
}

.alert.alert-info.region-help {
  background-color: transparent;
  border: none;
  padding: 0;
  color: $headings-color;
  font-weight: 400;
}

.tabs--primary {
  border: none;
  @extend .container;
  padding-left: 6px;
  li {
    border: none;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
    a {
      padding-top: 0;
      border: none;
      border-bottom: 2px solid transparent;
      color: $headings-color;
      padding-left: 0;
      padding-right: 0;
      &:hover, &:active, &:focus, &:active:focus {
        border: none;
        color: $blue;
      }
    }
    &.active {
      border: none;
      a {
        border: none;
        border-bottom: 2px solid $blue;
        background-color: transparent;
        color: $blue;
        &:hover, &:active, &:focus, &:active:focus {
          border: none;
          border-bottom: 2px solid $blue-hover;
          color: $blue-hover;
          background-color: transparent;
        }
      }
    }
  }
}

.tabs--secondary-wrapper {
  background: white;
}
.tabs--secondary, .webform-tabs.ui-tabs .ui-tabs-nav {
  @extend .container;
  padding-top: 25px;
  border: none;
  padding-left: 6px;
  li {
    display: inline-block;
    border: none;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
    a {
      border-radius: 0;
      font-size: $font-size-base;
      border: none;
      color: $headings-color;
      padding-left: 0;
      padding-right: 0;
      &:after {
        font-family: 'beryllium-icons';
        content: "\e90d";
        margin-left: 8px;
        font-size: 8px;
        display: inline-block;
        vertical-align: middle;
      }
      &:hover, &:active, &:focus, &:active:focus {
        border: none;
        color: $blue;
        text-decoration: none;
      }
    }
    &.active, &.ui-tabs-active {
      border: none;
      &:focus, &:active, &:active:focus {
        outline: 0;
      }
      a {
        border: none;
        background-color: transparent;
        color: $blue;
        &:after {
          content: "\e902";
        }
        &:hover, &:active, &:focus, &:active:focus {
          border: none;
          color: $blue-hover;
          background-color: transparent;
          outline: 0;
        }
      }
    }
  }
}

.ui-tabs-nav {
  width: 100%;
}

// Text styles for table headers
.table {
  > thead > tr  > th {
    text-transform: uppercase;
    font-size: 11px;
    color: #62757F;
    border-bottom: 1px solid $headings-color;
    padding-bottom: 13px;
  }
}

.tabledrag-handle {
  color: #62757F;
  margin-right: 10px;
}

.theme-info__description + .operations li {
  margin-top: 10px;
}


.table-striped > tbody > tr {
  &.region-title {
    background-color: #ECEFF1;
    font-weight: 400;
    color: $headings-color;
    font-size: 18px;
    border-top: 1px solid #CFD8DC;
    > td {
      padding: 8px 12px;
      border-top: 0;
    }
    + tr > td:first-child {
      border-top: 0;
    }
    .region-title__action {
      margin-bottom: 0;
      font-size: 11px;
    }
    a {
      color: $link-color;
    }
  }
  &.region-title + tr + tr > td {
    border-top: 0;
  }
}

tr.region-populated {
  display: none;
}

table, thead, tr, th, td, tbody, tfoot {
  &.checkbox {
    margin-top: 0;
    margin-bottom: 0;
  }
}

table.checkbox {
  display: table;
}

td.checkbox, th.checkbox {
  display: table-cell;
}

tr.checkbox {
  display: table-row;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: middle;
}

.tabledrag-toggle-weight.btn {
  position: absolute;
  right: $grid-gutter-width/2;
  @include button-variant-ex($btn-info-color, $btn-info-bg, $btn-info-border, white, #0067dd, #025ab2);
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.main-content-wrapper {
  padding-top: 40px;
}

.dark-help-icon {
  vertical-align: middle;
  display: inline-block;
  background-color: $headings-color;
  color: #FFF;
  width: 1.9em;
  height: 1.9em;
  padding: 0.4em;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  border-radius: 50%;
}

.indentation {
  width: 25px;
  display: inline-block;
}

.caret {
  width: auto;
  height: auto;
    /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beryllium-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  font-size: 9px;
  &:after {
    content: "\e902";
  }
}

.list-group {
  @include desktop {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .list-group__link {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.25em;
  }
  .list-group__description {
    color: #455A64;
    margin-bottom: 13px;
    border-bottom: #CFD8DC 1px solid;
    padding-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.glyphicon-spin {
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
.kint footer li {
  color: #333 !important;
}

.modal {
  text-align: center;
  padding: 0!important;

  &.fade .ui-dialog:not(.compose-dialog) {
    transition-duration: 0.15s;
    width: 70% !important;
  }
}

// Dark modal headers
.modal-header {
  background: black;
  .modal-title, .close {
    color: white;
  }
  .close {
    opacity: 0.75;
    font-size: 30px;
  }
}

.ui-dialog {
  display: inline-block;
  text-align: left;
}

// Shame
// Fixes buttons on the ckeditor edit screen
.ckeditor-buttons li a  {
  box-sizing: content-box;
}

// Fixes z-index of styles dropdown
.cke_combopanel {
  z-index: 100010 !important;
}

// Overrides for the entity browser (file browser)
[data-content-id*='browse-files-ui-dialog'] {
  .ui-dialog {
    width: auto;
    @media (min-width: $screen-sm-min) {
      width: 80%;
    }
  }
}
.entity-select-dialog.ui-dialog--narrow {
  .ui-dialog {
    max-width: 100%;
    @media (min-width: $screen-sm-min) {
      width: auto;
      min-width: 0;
      max-width: none;
      .entity-embed-dialog-step--select {
        width: ($screen-sm-min * 0.95);
      }
    }
    @media (min-width: $screen-md-min) {
      .entity-embed-dialog-step--select {
        width: ($screen-md-min * 0.95);
      }
    }
    @media (min-width: $screen-lg-min) {
      .entity-embed-dialog-step--select {
        width: ($screen-lg-min * 0.95);
      }
    }
    .entity-embed-dialog-step--embed {
      width: 600px;
    }
  }
}


.entity-browser-modal-iframe, .entity-browser-iframe-container iframe {
  height: 75vh !important;
}

.breadcrumb {
  margin: 4px 0;
  li {
    font-size: 13px;
  }
  li:first-child {
    margin-left: -$breadcrumb-padding-horizontal;
  }
}

// imce
.editor-link-dialog .imce-url-button {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  @include transition-duration(200ms);
  &:hover, &:active, &:visited, &:focus, &:active:focus, &.active {
    @include box-shadow(none);
    outline: 0;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
  @include button-variant-ex($btn-default-color, $btn-default-bg, $btn-default-border, white, #37474F, #001828);
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  position: absolute;
  top: -32px;
  right: 0;
}
.imce-url-button:before  {
  display: none !important;
}

.compose-preview-reveal {
  color: white !important;
}

.ui-tabs-tab.ui-state-default {
  background-color: transparent !important;
}

// Dialogs
.ui-button-icon-only {
  text-indent: 0;
  font-size: 0;
  border: none;
  outline: 0;
  .ui-icon {
    text-indent: 0;
    top: 0;
    left: 0;
    line-height: 20px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
}

.ui-widget.ui-widget-content {
  padding: 0;
  font-family: inherit;
}

.ui-dialog .ui-dialog-buttonpane {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-dialog {
  border-radius: 3px;
  z-index: 10000 !important;
  font-family: inherit;
  padding: 0;
  .ui-dialog-titlebar-close {
    right: 5px;
    top: 5px;
    margin: 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: transparent;
    &:hover {
      border-color: #FFF;
      &:before {
        background: url("data:image/svg+xml,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1.318l-10 10M11 11.318l-10-10' stroke='%23FFFFFF' stroke-width='1.5'/%3e%3c/svg%3e") no-repeat 50%;
      }
    }
    span {
      display: none !important;
    }
  }
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: inherit;
}

.token-tree-dialog {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  border-radius: 3px;
}

.ui-widget-overlay {
  @extend .modal-backdrop;
  opacity: 0.45;
}

.ui-dialog .ui-dialog-titlebar-close:before {
	content: 'Close';
	display: block !important;
	font-size: 0;
	width: 100%;
  height: 100%;
  margin: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: relative;
  background: url("data:image/svg+xml,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1.318l-10 10M11 11.318l-10-10' stroke='%23D3D4D9' stroke-width='1.5'/%3e%3c/svg%3e") no-repeat 50%;
}

.ui-dialog .ui-dialog-titlebar {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  background-color: #000;
  color: #FFF;
  padding: 0.5em 1em;
}

.ui-dialog .ui-dialog-buttonpane {
  margin-top: 0;
}

.ui-dialog .ui-dialog-content {
  padding: 1em;
}

.ui-dialog .ui-dialog-title {
  @extend .h3;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
}

.webform-tabs.ui-tabs .ui-tabs-nav {
  margin-left: -18px;
  max-width: 100%;
  padding-top: 10px;
}

.ui-dialog-off-canvas {
  border-radius: 0;
  height: 100% !important;
  border: 1px solid #dde3e6;
  box-shadow: 0 0 10px rgba(0,0,0,0.45);
}
