@mixin small {
 @media (min-width: #{$screen-xs-min}) {
   @content;
 }
}

@mixin nav-break {
  @media (min-width: #{$grid-float-breakpoint}) {
    @content;
  }
}

@mixin tablet {
 @media (min-width: #{$screen-sm-min}) {
   @content;
 }
}

@mixin desktop {
 @media (min-width: #{$screen-md-min}) {
   @content;
 }
}

@mixin large {
 @media (min-width: #{$screen-lg-min}) {
   @content;
 }
}
