.package-listing {
  .panel-body {
    padding: 0;
    .table {
      margin-bottom: 0;
    }
    .checkbox {
      margin-top: 0;
    }
    .module {
      label {
        margin-bottom: 0;
      }
    }
  }
}
.system-modules-uninstall {
  .checkbox {
    margin-top: 0;
  }
  .name {
    min-width: 240px;
  }
  tbody {
    .checkbox {
      vertical-align: middle;
      text-align: center;
    }
  }
}
