.node-edit-main {
  .inner-wrapper {
    padding: 20px;
  }
}

.node-edit-sidebar {
  .form-actions, .form-actions.form-group, .form-actions.form-item {
    margin-top: 0;
  }
  .entity-meta-header {
    padding: 13px 20px;
    &.form-group, .form-group {
      margin-bottom: 0;
    }
    .form-group + .form-group {
      margin-top: 0.5em;
    }
  }
  .entity-meta-status {
    color: #888c90;
  }
  .label {
    font-size: $font-size-base;
    display: inline;
    padding: 0;
    font-weight: 600;
  }
  .checkbox:first-child {
    margin-top: 0;
  }
  .panel-default {
    margin-bottom: 0;
    border: none;
    border-top: 1px solid #CFD8DC;
    margin-top: 0;
  }
  .panel:first-child {
    border-top: none;
  }
  .panel-body {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    .form-required {
      display: none;
    }
    .form-item, .form-group {
      margin-bottom: 0;
      + .field--widget-boolean-checkbox.form-group {
        margin-top: 0.5em;
      }
    }
    .form-item, .form-group {
      + .form-item, + .form-group {
        margin-top: 25px;
      }
    }
  }
  .panel-heading {
    letter-spacing: 0.05em;
    padding: 0;
    border: none;
    background: white;
    > a {
      padding: 13px 20px;
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      color: #888C90;
      padding-right: 30px;
      position: relative;
      &:hover {
        color: $headings-color;
      }
      &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
      }
      &[aria-expanded="true"] {
        color: $headings-color;
        &:after {
          transform: rotate(90deg);
        }
      }
      &:after {
        @extend .beryllium-icon;
        top: 18px;
        right: 13px;
        font-size: 12px;
        position: absolute;
        content: "\e90d";
        display: inline-block;
        @include transition-duration(200ms);
      }
    }
  }
  .sidebar-actions {
    background-color: #001828;
    padding: 12px;
    z-index: 9;
    .form-group {
      margin-bottom: 0;
    }

  }
}

.form-actions {
  > .btn-group {
    justify-content: flex-end;
  }
  .dropdown-menu {
    @extend .dropdown-menu-right;
  }
}
