@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bootstrap-variables";
@import "../../mixins";
@import "../../components/buttons";

.views-admin {
  #views-display-menu-tabs {
    float: left;
    width: 100%;
    margin-top: 15px;
    list-style: none;
    li {
      font-weight: 400;
      padding-left: 12px;
      padding-right: 12px;
      float: left;
      margin: 0 0 -1px 0;
      a {
        font-size: 14px;
        color: #000a12;
        background-color: transparent;
        position: relative;
        display: block;
        padding: 0 0 10px 0;
        margin-right: 2px;
        line-height: 1.5;
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 2px 2px 0 0;
        text-decoration: none;
        &:hover {
          color: #0067dd;
        }
      }
      &.active a {
        border-bottom: 2px solid #0067dd;
        color: #0067dd;
      }
    }
    .add {
      a .icon.add {
        background-position: center 5px;
      }
      &:hover a {
        color: #0067dd;
        .icon.add {
          background-position: center 5px;
        }
      }
      .action-list {
        background-color: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        button {
          display: block;
          width: 100%;
          color: #000a12;
          background-color: #fff;
          border: none;
          padding: 3px 15px;
          font-weight: 300;
          text-align: left;
          margin: 0;
          border-radius: 0;
          &:hover {
            color: #fff;
            background-color: #0067dd;
          }
        }
      }
    }
  }
  #views-display-top > button {
    display: none;
  }
  #edit-displays-top-add {
    position: absolute;
    top: 8px;
    right: -69px;
    width: 250px;
    ul.dropdown-menu {
      left: -76px;
    }
  }
  #edit-display-settings-top {
    .custom-dropdown {
      ul.dropbutton {
        display: none;
      }
    }
  }
  #edit-display-settings-main {
    .dropdown {
      margin-top: 5px;
      .btn {
        @extend .btn-primary;
        @extend .btn-xs;
      }
      &.btn-group {
        .btn:first-of-type {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .btn:last-of-type {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    .icon {
      text-indent: 0;
      background-image: none;
      border: none;
      width: auto;
      height: auto;
      &.compact {
        text-indent: 0;
      }
    }
    a {
      &.icon {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
  .input-group-addon {
    background-color: $input-group-addon-bg;
  }
  .views-displays {
    border-color: $panel-border;
    border-radius: 2px 2px 0 0;
    margin-bottom: 0;
    .views-display-top {
      padding: 8px 8px 0;
      background-color: $panel-background;
      border-color: $panel-border;
    }
    .views-ui-display-tab-actions {
      .views-display-setting {
        padding: 11px 8px 8px;
        margin-bottom: 4px;
      }
      .label {
        margin: 0;
      }
      .custom-dropdown {
        width: 315px;
        position: absolute;
        right: -198px;
        top: 8px;
        .dropdown-menu {
          right: 203px;
          button {
            text-align: left;
            background-color: white;
            border: none;
            border-radius: 0;
            color: #333;
            display: block;
            clear: both;
            width: 100%;
            line-height: 1.3;
            font-size: 14px;
            padding: 5px 15px;
            font-weight: 300;
            &:hover {
              color: white;
              background-color: $brand-primary;
            }
          }
        }
      }
    }
    .views-display-column {
      .views-ui-display-tab-bucket {
        .views-ui-display-tab-bucket__title {
          margin: 8px 0 12px;
          padding-bottom: 0;
          font-weight: bold;
          text-align: left;
        }
        .views-ui-settings-bucket-operations {
          position: absolute;
          top: 5px;
          right: 5px;
        }
        .views-display-setting {
          color: inherit;
          &:nth-of-type(even) {
            background-color: $panel-background;
          }
          span {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .form-actions {
    margin-top: 15px;
  }
  .form-edit {
    .form-actions {
      background-color: white;
      border-color: white;
      padding: 0;
    }
  }
  &#views-preview-wrapper {
    border-color: $panel-border;
    border-radius: 2px 2px 0 0;
    margin-bottom: 0;
    .view-preview-form__title {
      background-color: $panel-background;
      border-color: $panel-border;
    }
    .form-type-checkbox label,
    .form-type-radio label {
      line-height: 1.5;
    }
    .form-item-live-preview {
      margin-top: 17px;
    }
    .form-item-view-args {
      input {
        display: inline-block;
        width: auto;
      }
    }
    .preview-submit-wrapper {
      background-color: white;
    }
    .preview-section table thead .icon {
      background-image: none;
    }
  }
  #preview-submit-wrapper {
    margin: 5px 0 0;
  }
  .views-ui-ajax-wrapper {
    .icon {
      background-image: none;
      height: auto;
      width: auto;
    }
  }
}

.views-ui-dialog {
  .views-offset-top {
    border-color: $panel-border;
  }
  .views-override {
    background-color: $panel-background !important;
  }
}
