.btn, .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }
  .btn:hover, .button:hover, .btn:active, .button:active, .btn:visited, .button:visited, .btn:focus, .button:focus, .btn:active:focus, .button:active:focus, .btn.active, .active.button {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0; }
  .btn:focus, .button:focus, .btn.focus, .focus.button, .btn:active:focus, .button:active:focus, .btn:active.focus, .button:active.focus, .btn.active:focus, .active.button:focus, .btn.active.focus, .active.focus.button {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .button:hover, .btn:focus, .button:focus, .btn.focus, .focus.button {
    color: #000a12;
    text-decoration: none; }
  .btn:active, .button:active, .btn.active, .active.button {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .disabled.button, .btn[disabled], .button[disabled],
  fieldset[disabled] .btn,
  fieldset[disabled] .button {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none; }

a.btn.disabled, a.disabled.button,
fieldset[disabled] a.btn,
fieldset[disabled] a.button {
  pointer-events: none; }

.button {
  color: #000a12;
  background-color: #fff;
  border-color: #000a12; }
  .button:focus, .button.focus {
    color: white;
    background-color: #37474F;
    border-color: #334249; }
  .button:hover {
    color: white;
    background-color: #37474F;
    border-color: #334249; }
  .button:active, .button.active,
  .open > .button.dropdown-toggle {
    color: white;
    background-color: #37474F;
    border-color: #334249; }
    .button:active:hover, .button:active:focus, .button:active.focus, .button.active:hover, .button.active:focus, .button.active.focus,
    .open > .button.dropdown-toggle:hover,
    .open > .button.dropdown-toggle:focus,
    .open > .button.dropdown-toggle.focus {
      color: white;
      background-color: #001828;
      border-color: #00090f; }
  .button:active, .button.active,
  .open > .button.dropdown-toggle {
    background-image: none; }
  .button.disabled:hover, .button.disabled:focus, .button.disabled.focus, .button[disabled]:hover, .button[disabled]:focus, .button[disabled].focus,
  fieldset[disabled] .button:hover,
  fieldset[disabled] .button:focus,
  fieldset[disabled] .button.focus {
    color: #000a12;
    background-color: #fff;
    border-color: #000a12; }
  .button .badge {
    color: #fff;
    background-color: #000a12; }

.button--primary {
  color: #fff;
  background-color: #0067dd;
  border-color: #0067dd; }
  .button--primary:focus, .button--primary.focus {
    color: #fff;
    background-color: #004faa;
    border-color: #002c5e; }
  .button--primary:hover {
    color: #fff;
    background-color: #004faa;
    border-color: #004aa0; }
  .button--primary:active, .button--primary.active,
  .open > .button--primary.dropdown-toggle {
    color: #fff;
    background-color: #004faa;
    background-image: none;
    border-color: #004aa0; }
    .button--primary:active:hover, .button--primary:active:focus, .button--primary:active.focus, .button--primary.active:hover, .button--primary.active:focus, .button--primary.active.focus,
    .open > .button--primary.dropdown-toggle:hover,
    .open > .button--primary.dropdown-toggle:focus,
    .open > .button--primary.dropdown-toggle.focus {
      color: #fff;
      background-color: #003f86;
      border-color: #002c5e; }
  .button--primary.disabled:hover, .button--primary.disabled:focus, .button--primary.disabled.focus, .button--primary[disabled]:hover, .button--primary[disabled]:focus, .button--primary[disabled].focus,
  fieldset[disabled] .button--primary:hover,
  fieldset[disabled] .button--primary:focus,
  fieldset[disabled] .button--primary.focus {
    background-color: #0067dd;
    border-color: #0067dd; }
  .button--primary .badge {
    color: #0067dd;
    background-color: #fff; }

.btn-default {
  color: #000a12;
  background-color: #fff;
  border-color: #000a12; }
  .btn-default:focus, .btn-default.focus {
    color: white;
    background-color: #37474F;
    border-color: #334249; }
  .btn-default:hover {
    color: white;
    background-color: #37474F;
    border-color: #334249; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: white;
    background-color: #37474F;
    border-color: #334249; }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus {
      color: white;
      background-color: #001828;
      border-color: #00090f; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus {
    color: #000a12;
    background-color: #fff;
    border-color: #000a12; }
  .btn-default .badge {
    color: #fff;
    background-color: #000a12; }

.btn-primary, .views-admin #edit-display-settings-main .dropdown .btn, .views-admin #edit-display-settings-main .dropdown .button {
  color: #fff;
  background-color: #0067dd;
  border-color: #0067dd; }
  .btn-primary:focus, .views-admin #edit-display-settings-main .dropdown .btn:focus, .views-admin #edit-display-settings-main .dropdown .button:focus, .btn-primary.focus, .views-admin #edit-display-settings-main .dropdown .focus.btn, .views-admin #edit-display-settings-main .dropdown .focus.button {
    color: #fff;
    background-color: #004faa;
    border-color: #002c5e; }
  .btn-primary:hover, .views-admin #edit-display-settings-main .dropdown .btn:hover, .views-admin #edit-display-settings-main .dropdown .button:hover {
    color: #fff;
    background-color: #004faa;
    border-color: #004aa0; }
  .btn-primary:active, .views-admin #edit-display-settings-main .dropdown .btn:active, .views-admin #edit-display-settings-main .dropdown .button:active, .btn-primary.active, .views-admin #edit-display-settings-main .dropdown .active.btn, .views-admin #edit-display-settings-main .dropdown .active.button,
  .open > .btn-primary.dropdown-toggle,
  .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.btn,
  .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.button {
    color: #fff;
    background-color: #004faa;
    background-image: none;
    border-color: #004aa0; }
    .btn-primary:active:hover, .views-admin #edit-display-settings-main .dropdown .btn:active:hover, .views-admin #edit-display-settings-main .dropdown .button:active:hover, .btn-primary:active:focus, .views-admin #edit-display-settings-main .dropdown .btn:active:focus, .views-admin #edit-display-settings-main .dropdown .button:active:focus, .btn-primary:active.focus, .views-admin #edit-display-settings-main .dropdown .btn:active.focus, .views-admin #edit-display-settings-main .dropdown .button:active.focus, .btn-primary.active:hover, .views-admin #edit-display-settings-main .dropdown .active.btn:hover, .views-admin #edit-display-settings-main .dropdown .active.button:hover, .btn-primary.active:focus, .views-admin #edit-display-settings-main .dropdown .active.btn:focus, .views-admin #edit-display-settings-main .dropdown .active.button:focus, .btn-primary.active.focus, .views-admin #edit-display-settings-main .dropdown .active.focus.btn, .views-admin #edit-display-settings-main .dropdown .active.focus.button,
    .open > .btn-primary.dropdown-toggle:hover,
    .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.btn:hover,
    .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.button:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.btn:focus,
    .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.button:focus,
    .open > .btn-primary.dropdown-toggle.focus,
    .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.focus.btn,
    .views-admin #edit-display-settings-main .dropdown .open > .dropdown-toggle.focus.button {
      color: #fff;
      background-color: #003f86;
      border-color: #002c5e; }
  .btn-primary.disabled:hover, .views-admin #edit-display-settings-main .dropdown .disabled.btn:hover, .views-admin #edit-display-settings-main .dropdown .disabled.button:hover, .btn-primary.disabled:focus, .views-admin #edit-display-settings-main .dropdown .disabled.btn:focus, .views-admin #edit-display-settings-main .dropdown .disabled.button:focus, .btn-primary.disabled.focus, .views-admin #edit-display-settings-main .dropdown .disabled.focus.btn, .views-admin #edit-display-settings-main .dropdown .disabled.focus.button, .btn-primary[disabled]:hover, .views-admin #edit-display-settings-main .dropdown .btn[disabled]:hover, .views-admin #edit-display-settings-main .dropdown .button[disabled]:hover, .btn-primary[disabled]:focus, .views-admin #edit-display-settings-main .dropdown .btn[disabled]:focus, .views-admin #edit-display-settings-main .dropdown .button[disabled]:focus, .btn-primary[disabled].focus, .views-admin #edit-display-settings-main .dropdown .btn[disabled].focus, .views-admin #edit-display-settings-main .dropdown .button[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .views-admin #edit-display-settings-main .dropdown .btn:hover,
  .views-admin #edit-display-settings-main .dropdown fieldset[disabled] .btn:hover,
  fieldset[disabled] .views-admin #edit-display-settings-main .dropdown .button:hover,
  .views-admin #edit-display-settings-main .dropdown fieldset[disabled] .button:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .views-admin #edit-display-settings-main .dropdown .btn:focus,
  .views-admin #edit-display-settings-main .dropdown fieldset[disabled] .btn:focus,
  fieldset[disabled] .views-admin #edit-display-settings-main .dropdown .button:focus,
  .views-admin #edit-display-settings-main .dropdown fieldset[disabled] .button:focus,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .views-admin #edit-display-settings-main .dropdown .focus.btn,
  .views-admin #edit-display-settings-main .dropdown fieldset[disabled] .focus.btn,
  fieldset[disabled] .views-admin #edit-display-settings-main .dropdown .focus.button,
  .views-admin #edit-display-settings-main .dropdown fieldset[disabled] .focus.button {
    background-color: #0067dd;
    border-color: #0067dd; }
  .btn-primary .badge, .views-admin #edit-display-settings-main .dropdown .btn .badge, .views-admin #edit-display-settings-main .dropdown .button .badge {
    color: #0067dd;
    background-color: #fff; }

.btn-success {
  color: #fff;
  background-color: #7fbb00;
  border-color: #7fbb00; }
  .btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #5c8800;
    border-color: #283c00; }
  .btn-success:hover {
    color: #fff;
    background-color: #5c8800;
    border-color: #557e00; }
  .btn-success:active, .btn-success.active,
  .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #5c8800;
    background-image: none;
    border-color: #557e00; }
    .btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
    .open > .btn-success.dropdown-toggle:hover,
    .open > .btn-success.dropdown-toggle:focus,
    .open > .btn-success.dropdown-toggle.focus {
      color: #fff;
      background-color: #446400;
      border-color: #283c00; }
  .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
  fieldset[disabled] .btn-success:hover,
  fieldset[disabled] .btn-success:focus,
  fieldset[disabled] .btn-success.focus {
    background-color: #7fbb00;
    border-color: #7fbb00; }
  .btn-success .badge {
    color: #7fbb00;
    background-color: #fff; }

.btn-info {
  color: #0067dd;
  background-color: #FFF;
  border-color: #0067dd; }
  .btn-info:focus, .btn-info.focus {
    color: white;
    background-color: #0067dd;
    border-color: #0062d3; }
  .btn-info:hover {
    color: white;
    background-color: #0067dd;
    border-color: #0062d3; }
  .btn-info:active, .btn-info.active,
  .open > .btn-info.dropdown-toggle {
    color: white;
    background-color: #0067dd;
    border-color: #0062d3; }
    .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
    .open > .btn-info.dropdown-toggle:hover,
    .open > .btn-info.dropdown-toggle:focus,
    .open > .btn-info.dropdown-toggle.focus {
      color: white;
      background-color: #025ab2;
      border-color: #024d99; }
  .btn-info:active, .btn-info.active,
  .open > .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus,
  fieldset[disabled] .btn-info:hover,
  fieldset[disabled] .btn-info:focus,
  fieldset[disabled] .btn-info.focus {
    color: #0067dd;
    background-color: #FFF;
    border-color: #0067dd; }
  .btn-info .badge {
    color: #FFF;
    background-color: #0067dd; }

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
  .btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d; }
  .btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }
  .btn-warning:active, .btn-warning.active,
  .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    background-image: none;
    border-color: #d58512; }
    .btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus,
    .open > .btn-warning.dropdown-toggle:hover,
    .open > .btn-warning.dropdown-toggle:focus,
    .open > .btn-warning.dropdown-toggle.focus {
      color: #fff;
      background-color: #d58512;
      border-color: #985f0d; }
  .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus,
  fieldset[disabled] .btn-warning:hover,
  fieldset[disabled] .btn-warning:focus,
  fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236; }
  .btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff; }

.btn-danger {
  color: #d31d1d;
  background-color: white;
  border-color: #bd1a1a; }
  .btn-danger:focus, .btn-danger.focus {
    color: white;
    background-color: #d31d1d;
    border-color: #ca1c1c; }
  .btn-danger:hover {
    color: white;
    background-color: #d31d1d;
    border-color: #ca1c1c; }
  .btn-danger:active, .btn-danger.active,
  .open > .btn-danger.dropdown-toggle {
    color: white;
    background-color: #d31d1d;
    border-color: #ca1c1c; }
    .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus,
    .open > .btn-danger.dropdown-toggle:hover,
    .open > .btn-danger.dropdown-toggle:focus,
    .open > .btn-danger.dropdown-toggle.focus {
      color: white;
      background-color: #d4d4d4;
      border-color: #c7c7c7; }
  .btn-danger:active, .btn-danger.active,
  .open > .btn-danger.dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus,
  fieldset[disabled] .btn-danger:hover,
  fieldset[disabled] .btn-danger:focus,
  fieldset[disabled] .btn-danger.focus {
    color: #d31d1d;
    background-color: white;
    border-color: #bd1a1a; }
  .btn-danger .badge {
    color: white;
    background-color: #d31d1d; }

.btn + .btn, .button + .btn, .btn + .button, .button + .button {
  margin-left: 4px; }

.btn-link {
  color: #0067dd;
  font-weight: normal;
  border-radius: 0; }
  .btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
  fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent; }
  .btn-link:hover, .btn-link:focus {
    color: #025ab2;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus,
  fieldset[disabled] .btn-link:hover,
  fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none; }

.btn-lg {
  padding: 9px 18px;
  font-size: 16px;
  line-height: 1.33333;
  border-radius: 2px; }

.btn-sm, .button--small {
  padding: 3px 8px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 2px; }

.btn-xs, .views-admin #edit-display-settings-main .dropdown .btn, .views-admin #edit-display-settings-main .dropdown .button {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px; }

.ief-entity-operations .btn, .ief-entity-operations .button, .views-field-operations .btn, .views-field-operations .button {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

[type="submit"].btn-block,
[type="reset"].btn-block,
[type="button"].btn-block {
  width: 100%; }

.dropdown-menu {
  max-width: 100%;
  width: auto;
  padding: 5px 2px;
  border-radius: 0;
  margin-top: -2px; }
  .dropdown-menu > li > a {
    padding: 3px 15px;
    font-weight: 300; }
    .dropdown-menu > li > a:hover {
      color: #FFF;
      background-color: #0067dd; }

.beryllium-btn-add {
  text-transform: capitalize; }
  .beryllium-btn-add:after {
    content: '+';
    font-weight: 400;
    margin-left: 10px; }

.views-admin #views-display-menu-tabs {
  float: left;
  width: 100%;
  margin-top: 15px;
  list-style: none; }
  .views-admin #views-display-menu-tabs li {
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    margin: 0 0 -1px 0; }
    .views-admin #views-display-menu-tabs li a {
      font-size: 14px;
      color: #000a12;
      background-color: transparent;
      position: relative;
      display: block;
      padding: 0 0 10px 0;
      margin-right: 2px;
      line-height: 1.5;
      border: none;
      border-bottom: 2px solid transparent;
      border-radius: 2px 2px 0 0;
      text-decoration: none; }
      .views-admin #views-display-menu-tabs li a:hover {
        color: #0067dd; }
    .views-admin #views-display-menu-tabs li.active a {
      border-bottom: 2px solid #0067dd;
      color: #0067dd; }
  .views-admin #views-display-menu-tabs .add a .icon.add {
    background-position: center 5px; }
  .views-admin #views-display-menu-tabs .add:hover a {
    color: #0067dd; }
    .views-admin #views-display-menu-tabs .add:hover a .icon.add {
      background-position: center 5px; }
  .views-admin #views-display-menu-tabs .add .action-list {
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    .views-admin #views-display-menu-tabs .add .action-list button {
      display: block;
      width: 100%;
      color: #000a12;
      background-color: #fff;
      border: none;
      padding: 3px 15px;
      font-weight: 300;
      text-align: left;
      margin: 0;
      border-radius: 0; }
      .views-admin #views-display-menu-tabs .add .action-list button:hover {
        color: #fff;
        background-color: #0067dd; }

.views-admin #views-display-top > button {
  display: none; }

.views-admin #edit-displays-top-add {
  position: absolute;
  top: 8px;
  right: -69px;
  width: 250px; }
  .views-admin #edit-displays-top-add ul.dropdown-menu {
    left: -76px; }

.views-admin #edit-display-settings-top .custom-dropdown ul.dropbutton {
  display: none; }

.views-admin #edit-display-settings-main .dropdown {
  margin-top: 5px; }
  .views-admin #edit-display-settings-main .dropdown.btn-group .btn:first-of-type, .views-admin #edit-display-settings-main .dropdown.btn-group .button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .views-admin #edit-display-settings-main .dropdown.btn-group .btn:last-of-type, .views-admin #edit-display-settings-main .dropdown.btn-group .button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.views-admin #edit-display-settings-main .icon {
  text-indent: 0;
  background-image: none;
  border: none;
  width: auto;
  height: auto; }
  .views-admin #edit-display-settings-main .icon.compact {
    text-indent: 0; }

.views-admin #edit-display-settings-main a.icon {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .views-admin #edit-display-settings-main a.icon:hover {
    background-color: #0067dd; }

.views-admin .input-group-addon {
  background-color: #eceff1; }

.views-admin .views-displays {
  border-color: #dde3e6;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0; }
  .views-admin .views-displays .views-display-top {
    padding: 8px 8px 0;
    background-color: #eceff1;
    border-color: #dde3e6; }
  .views-admin .views-displays .views-ui-display-tab-actions .views-display-setting {
    padding: 11px 8px 8px;
    margin-bottom: 4px; }
  .views-admin .views-displays .views-ui-display-tab-actions .label {
    margin: 0; }
  .views-admin .views-displays .views-ui-display-tab-actions .custom-dropdown {
    width: 315px;
    position: absolute;
    right: -198px;
    top: 8px; }
    .views-admin .views-displays .views-ui-display-tab-actions .custom-dropdown .dropdown-menu {
      right: 203px; }
      .views-admin .views-displays .views-ui-display-tab-actions .custom-dropdown .dropdown-menu button {
        text-align: left;
        background-color: white;
        border: none;
        border-radius: 0;
        color: #333;
        display: block;
        clear: both;
        width: 100%;
        line-height: 1.3;
        font-size: 14px;
        padding: 5px 15px;
        font-weight: 300; }
        .views-admin .views-displays .views-ui-display-tab-actions .custom-dropdown .dropdown-menu button:hover {
          color: white;
          background-color: #0067dd; }
  .views-admin .views-displays .views-display-column .views-ui-display-tab-bucket .views-ui-display-tab-bucket__title {
    margin: 8px 0 12px;
    padding-bottom: 0;
    font-weight: bold;
    text-align: left; }
  .views-admin .views-displays .views-display-column .views-ui-display-tab-bucket .views-ui-settings-bucket-operations {
    position: absolute;
    top: 5px;
    right: 5px; }
  .views-admin .views-displays .views-display-column .views-ui-display-tab-bucket .views-display-setting {
    color: inherit; }
    .views-admin .views-displays .views-display-column .views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
      background-color: #eceff1; }
    .views-admin .views-displays .views-display-column .views-ui-display-tab-bucket .views-display-setting span {
      margin-bottom: 0; }

.views-admin .form-actions {
  margin-top: 15px; }

.views-admin .form-edit .form-actions {
  background-color: white;
  border-color: white;
  padding: 0; }

.views-admin#views-preview-wrapper {
  border-color: #dde3e6;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0; }
  .views-admin#views-preview-wrapper .view-preview-form__title {
    background-color: #eceff1;
    border-color: #dde3e6; }
  .views-admin#views-preview-wrapper .form-type-checkbox label,
  .views-admin#views-preview-wrapper .form-type-radio label {
    line-height: 1.5; }
  .views-admin#views-preview-wrapper .form-item-live-preview {
    margin-top: 17px; }
  .views-admin#views-preview-wrapper .form-item-view-args input {
    display: inline-block;
    width: auto; }
  .views-admin#views-preview-wrapper .preview-submit-wrapper {
    background-color: white; }
  .views-admin#views-preview-wrapper .preview-section table thead .icon {
    background-image: none; }

.views-admin #preview-submit-wrapper {
  margin: 5px 0 0; }

.views-admin .views-ui-ajax-wrapper .icon {
  background-image: none;
  height: auto;
  width: auto; }

.views-ui-dialog .views-offset-top {
  border-color: #dde3e6; }

.views-ui-dialog .views-override {
  background-color: #eceff1 !important; }

/*# sourceMappingURL=views_ui.admin.theme.css.map */