{#
/**
 * @file
 * Default theme implementation for a dropbutton wrapper.
 *
 * Available variables:
 * - children: Contains the child elements of the dropbutton menu.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}

{% if children %}
  {% spaceless %}
    <div class="btn-group dropdown pull-right custom-dropdown">
      <span data-drupal-selector="edit-displays-settings-settings-content-tab-content-details-top-actions-path" id="edit-displays-settings-settings-content-tab-content-details-top-actions-path" class="button form-submit btn-default btn">Options</span>
      <button class="btn-default btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
      {{ children }}
    </div>
  {% endspaceless %}
{% endif %}
