{#
/**
 * @file
 * Default theme implementation to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <ul class="admin-add-content-list">
    {% for type in types %}
    <li>
      <a href="{{ type.path }}" class="content-type-tile">
        <div class="row-wrapper">
          <div class="icon-col">
            <span class="beryllium-icon beryllium-icon-{{ type.icon }}"></span>
          </div>
          <div class="content-col">
            <div class="content-type-title">{{ type.name }}</div>
            <div class="content-type-description">{{ type.description }}</div>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
    {% trans %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}
