{#
  #}
  {% set container = 'container' %}
  <div{{ attributes }}>
  {# Main #}
  {% block main %}
  <div class="top-wrapper">
    <div class="top-container {{ container }}">

      <div class="header-wrapper">

        {% if local_actions %}
          <div class="local-actions mobile">
            <ul class="list-unstyled beryllium-admin-local-actions">
              {{ local_actions }}
            </ul>
          </div>
        {% endif %}

        <div class="header-content">
        {# Header #}
        {% if page.header %}
        {% block header %}
        <div role="heading">
          {{ page.header }}
        </div>
        {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
        {% block help %}
        {{ page.help }}
        {% endblock %}
        {% endif %}
        </div>

        {% if local_actions %}
          <div class="local-actions desktop">
            <ul class="list-unstyled beryllium-admin-local-actions">
              {{ local_actions }}
            </ul>
          </div>
        {% endif %}
      </div>

      {# Highlighted #}
      {% if page.highlighted %}
      {% block highlighted %}
      <div class="highlighted">{{ page.highlighted }}</div>
      {% endblock %}
      {% endif %}
    </div>

      {# Tabs #}
      {% if nav_tabs %}
        <div class="tabs--primary-wrapper">
          <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
          <ul class="tabs--primary nav nav-tabs">{{ nav_tabs }}</ul>
        </div>
      {% endif %}

      {% if secondary_nav_tabs %}
        <div class="tabs--secondary-wrapper">
          <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
          <ul class="tabs--secondary">{{ secondary_nav_tabs }}</ul>
        </div>
      {% endif %}
  </div>
  <div class="main-container {{ container }}">
    <div {{ content_attributes.addClass('main-wrapper') }}>
      <div role="main" class="js-quickedit-main-content">
        <section class="main-content-wrapper">

          {# Content #}
          {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
          {% endblock %}
        </section>

      </div>
    </div>
    {% endblock %}
  </div>
</div>
</div>
