/**
* @file file_browser.view.css
*/


/* Generic styles */

.pager {
  padding: 20px;
}

/* set default standard media queries for responsive grid. */
@media only screen and (min-width: 320px) {
  .grid-sizer,
  .grid-item {
    width: 96%;
  }
  .gutter-sizer {
    width: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: 46%;
  }
  .gutter-sizer {
    width: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 23%;
  }
  .gutter-sizer {
    width: 10px;
  }
}

/* Jump back down for XL screens to better utilize the space. */
@media only screen and (min-width: 1600px) {
  .grid-sizer,
  .grid-item {
    width: 15%;
  }
  .gutter-sizer {
    width: 10px;
  }
}

.grid-item {
  display: block;
  opacity: 0;
  text-align: center;
  background: #383838;
  overflow: hidden;
  transition: .2s;
  border: 2px solid lightgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
}

.grid-item.item-style {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.grid-item:hover {
  border: 2px solid #37802f;
  cursor: pointer;
}

.view-content {
  margin: 0 auto;
  width: 100% !important;
}

.grid-item img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.grid-item img::selection {
  background: transparent;
}

.grid-item .views-field-entity-browser-select {
  display: none;
}

.grid-item:after {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.grid-item-info {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
}

.grid-item-info-left,
.grid-item-info-right {
  padding: 5px;
  color: white;
}

.grid-item-info-left {
  float: left;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item-info-right {
  float: right;
}

.file-browser-form {
  position: relative;
}


/* Remove border above tabs. */

.file-browser-form .is-collapse-enabled .tabs:before,
.file-browser-form .is-horizontal .tabs:before {
  background-color: transparent;
}

[type="submit"][name="filter"] {
  margin-left: 10px;
  margin-top: 30px;
}

.layout-container {
  margin: 0;
}

.file-browser-actions {
  position: fixed !important;
  bottom: 0;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  padding: 10px;
  width: 100%;
  background: white;
  border-top: 1px solid #b8b8b8;
}

.entity-browser-show-selection {
  display: none !important;
}

.entities-list .item-container {
  position: relative;
  border: 1px dashed gray;
  margin: 5px !important;
}

.entities-list .item-container > img,
.entities-list .item-container > input {
  margin: 0;
}

.entities-list .item-container:hover {
  opacity: 1;
}

.entities-list .item-container:hover img,
.entities-list .item-container:hover input
.entities-list .item-container:hover button {
  transition: .2s;
}

.entities-list .item-container:hover img {
  opacity: .6;
}

.entities-list .item-container:hover input,
.entities-list .item-container:hover button {
  opacity: 1;
}

.entities-list .item-container input,
.entities-list .item-container button {
  background: url(../../../images/remove.svg);
  opacity: 0;
  background-size: cover;
  color: transparent;
  text-shadow: none;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 2px;
  right: 2px;
  border-radius: 10px;
  margin: 0;
  background-color: #dedede;
  border: 1px solid #585858;
}

.entities-list .item-container input:hover,
.entities-list .item-container button:hover {
  background-color: #afafaf;
}

.file-browser-file-counter {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 2px 2px 2px 30px;
  background: url(../../../images/checkmark.svg);
  background-position: 5px;
  background-size: 20px;
  background-repeat: no-repeat;
  color: white;
}
