// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant-ex($color, $background, $border, $color-hover: $color, $background-hover: darken($background, 10%), $background-focus: darken($background, 17%)) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color-hover;
    background-color: $background-hover;
        border-color: darken($background-hover, 2%);
  }
  &:hover {
    color: $color-hover;
    background-color: $background-hover;
        border-color: darken($background-hover, 2%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color-hover;
    background-color: $background-hover;
        border-color: darken($background-hover, 2%);

    &:hover,
    &:focus,
    &.focus {
      color: $color-hover;;
      background-color: $background-focus;
          border-color: darken($background-focus, 5%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
                 color: $color;
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}


// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  @include transition-duration(200ms);
  &:hover, &:active, &:visited, &:focus, &:active:focus, &.active {
    @include box-shadow(none);
    outline: 0;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

.button {
  @extend .btn;
  // like btn-default
  @include button-variant-ex($btn-default-color, $btn-default-bg, $btn-default-border, white, #37474F, #001828);
}
.button--primary {
  // btn-primary
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant-ex($btn-default-color, $btn-default-bg, $btn-default-border, white, #37474F, #001828);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant-ex($btn-info-color, $btn-info-bg, $btn-info-border, white, #0067dd, #025ab2);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant-ex($btn-danger-color, $btn-danger-bg, $btn-danger-border, white, $btn-danger-color);
}

.btn + .btn {
  margin-left: 4px;
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// .btn-xs {
//   font-size: 12px;
//   padding: 3px 7px;
// }
// .btn-sm {
//   font-size: 14px;
//   padding: 3px 8px;
// }
// .btn-lg {
//   font-size: 16px;
//   padding: 9px 18px;
// }

// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm, .button--small {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-base, $line-height-base, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

// Operations buttons, usually in tables
.ief-entity-operations, .views-field-operations {
  .btn {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  }
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
[type="submit"],
[type="reset"],
[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.dropdown-menu {
  max-width: 100%;
  width: auto;
  padding: 5px 2px;
  border-radius: 0;
  margin-top: -2px;
  > li > a {
    padding: 3px 15px;
    font-weight: 300;
    &:hover {
      color: #FFF;
      background-color: $blue;
    }
  }
}

.beryllium-btn-add {
  text-transform: capitalize;
  &:after {
    content: '+';
    font-weight: 400;
    margin-left: 10px;
  }
}
