.compose-edit-mode {
  .tabs--primary-wrapper {
    display: none;
  }
}

#compose-tabs {
  background-color: transparent;
  padding: 0;
  border: none;

  .compose-tabs {
    li {
      border: none;
      margin-bottom: 0;
      padding: 0 15px 0 0;

      a {
        padding: 10px 0 8px;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        color: #000a12;
        border-bottom: 2px solid transparent;
        &:focus {
          outline-color: transparent;
          outline-style: none;
        }
      }

      &:hover {
        background-color: transparent;
        a {
          color: #0067dd;
        }
      }

      &.ui-state-active {
        background-color: transparent;
        a {
          color: #0067dd;
          border-bottom: 2px solid #0067dd;
        }
      }

      &.ui-state-error {
        a {
          color: #9B0D0D;
          border-bottom: 2px solid #9B0D0D;
        }
      }
    }
  }

  .compose-region {
    border: none;
    background: #FFF;

    .hide-fieldset {
      border: none;
      margin: -12px;
    }
    .ui-tabs-panel {
      border: none !important;
    }
  }
}

.compose-form {
  position: relative;
  &>.form-wrapper {
    background: transparent;
    padding: 0;
  }
  > .form-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    button {
      border-radius: 0;
    }
  }
  &.has-errors {
    #compose-validation-message {
      margin-bottom: 19px;
    }
    > .form-actions {
      top: 69px;
      width: auto;
    }
  }

}

.compose-delta-wrapper {
  text-align: center;
  .tabledrag-handle {
    font-size: 22px;
  }
}

.compose-preview-meta {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 12px;
  h2 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0 0 0 20px;
    line-height: 27px;
  }
}

.compose-tasks-content, #compose-tabs > .compose-tabs {
  background: #ECEFF1;
}
.compose-tasks-content {
  .form-actions > .btn-group {
    justify-content: flex-start;
  }
}
@media all and (min-width: 48.1em) {
  .no-touchevents .compose-tasks-content {
    padding: 10px 0;
  }
}

.compose-entity-dialog .ui-dialog {
  width: 100% !important;
  max-width: 1100px;
}

.compose-dialog-tabs {
  padding: 0;
  .compose-tabs {
    margin: -10px -15px 20px -15px;
    padding: 0 15px;
    border-bottom: 1px solid #DDD;
    width: auto;
  }
  &.ui-tabs .ui-tabs-panel {
    padding: 0;
  }
}


.compose-add-button {
  @extend .btn-link;
  font-weight: bold;
  line-height: 38px;
  margin-left: 80px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 6px;


  &:before {
    content: '+';
    font-size: 34px;
    line-height: 30px;
    color: $green;
    font-weight: bold;
    margin-right: 8px;
    border: 4px solid $green;
    border-radius: 50%;
    width: 38px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    transition: all 0.15s ease;
  }

  &:hover, &:focus, &:active, &[disabled], &[disabled]:hover {
    text-decoration: none;
    border: 1px solid $blue;
    border-radius: 4px;
    outline: none;
    background: transparent;

    &:before {
      color: $blue;
    }
    &:active {
      background: transparent;
      color: $blue;
    }
  }

  .ajax-throbber {
    margin-left: 4px;
  }
}
