.form-control {
  @include box-shadow(none);
  border: 1px solid #CFD8DC;
  height: auto;
  padding: 6px 12px;
  &:focus {
    border-color: $blue;
    outline: 0;
    @include box-shadow(none);
  }
}

.form-item {
  @extend .form-group;
}

.form-group {
  position: relative;
}

// Remove margin for Focal Point indicator
.focal-point-indicator {
  margin-bottom: 0 !important;
}


.form-group:last-child, .form-item:last-child {
  &:not(.checkbox, .radio) {
    margin-bottom: 0;
  }
}

.form-group.form-inline {
  margin-bottom: 0;
}

.checkbox, .checkbox-inline, .radio, .radio-inline {
  label {
    font-weight: 300;
  }
  margin-top: 0;
}

.checkbox:not(label), .radio:not(label) {
  > input[type="checkbox"] {
    position: static;
    margin: 0;
  }
}

.check-all-wrapper {
  width: 100%;
  margin-bottom: 10px;
}

fieldset.fieldgroup {
  legend {
    border-bottom: 0;
    @extend .control-label;
    font-size: $font-size-base;
  }
}

input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
  line-height: inherit;
}

select.form-control:not([multiple="multiple"]), select:not([multiple="multiple"]) {
  -webkit-appearance: none;
  height: 35px;
  border-radius: $border-radius-base;
  width: 100%;
  background-image: url('../images/select-icon.gif');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  padding-right: 30px;
  &.input-sm {
    height: 32px;
    line-height: 1;
  }
}
select.form-control[multiple="multiple"], select[multiple="multiple"] {
  width: 100%;
}
.description, .form-group .help-block {
  font-size: 11px;
  margin-top: 6px;
  margin-bottom: 0;
}

.control-label, .label {
  color: $headings-color;
  font-weight: 400;
  display: block;
  margin-bottom: 7px;
}

.container-inline.form-inline {
  margin-left: -6px;
  margin-right: -6px;
  .form-item, .form-group  {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 12px;
    + .form-item, + .form-group {
      margin-top: 12px;
    }
  }
}

.control-label + .container-inline.form-inline {
  margin-top: -12px;
}

form > .form-inline, form.form-inline, form.form--inline, form > .form--inline {
  margin-left: -6px;
  margin-right: -6px;
  .control-label {
    margin-bottom: 7px;
  }
  .form-group {
    vertical-align: bottom;
    padding: 6px;
    &.form-actions {
      padding-bottom: 7px;
    }
  }
  .form-actions {
    margin-left: -6px;
    margin-right: -6px;
    .btn {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  .btn {
    vertical-align: bottom;
  }
}

form {
  &.webform-filter-form {
    > .form-inline, &.form-inline, &.form--inline, > .form--inline {
      .btn, .form-group {
        vertical-align: middle;
      }
    }
  }
}

fieldset.form-inline, fieldset.form-inline.form-item {
  margin-left: 0;
  margin-right: 0;
  > .fieldset-wrapper {
    margin-left: -6px;
    margin-right: -6px;
  }
}

.input-group > .select-wrapper {
  display: table-cell;
  select {
    width: 100%;
  }
}

button.link {
  background-color: transparent;
  border: none;
  padding: 0;
  color: $link-color;
}

.machine-name-value {
  margin-right: 10px;
}

.input-group-addon {
  background-color: transparent;
  color: $headings-color;
  border-color: #CFD8DC;
  font-size: 12px;
}

.panel-default {
  @include box-shadow(none);
}

.panel-title {
  font-size: $font-size-base;
}

.filter-help {
  margin-top: 0;
  margin-left: 12px;
  font-size: 12px;
  &.form-group, &.form-item {
    margin-top: 0;
  }
  .icon {
    margin-right: 5px;
  }
}

.icon-before {
  .icon {
    margin-right: 0.25em;
  }
}

form a.icon-before .icon {
  color: $headings-color;
}

.field--type-entity-reference {
  position: relative;
  .tabledrag-toggle-weight.btn {
    top: 0;
    right: 0;
  }
}

.link-edit-summary {
  &:hover {
    color: $blue-hover;
    background-color: transparent;
    border-color: transparent;
  }
  &:active, &:focus, &:active:focus, &.active {
    background-color: transparent;
    color: $blue-active;
    border-color: transparent;
  }
}

// Don't display datetime fields as panels
.field--type-datetime {
  .container-inline.form-inline {
    margin-top: -0.5em;
  }
  .panel {
    border: none;
  }
  .panel-body {
    padding: 0;
  }
  .panel-heading {
    border: none;
  }
  .panel-title {
    padding: 0;
  }
}

.field--type-image, .form-type-managed-file {
  .file-icon {
    margin-right: 0.25em;
  }
  .file-link {
    margin-right: 12px;
  }
  .file-size {
    margin-right: 12px;
  }
}

.views-form {
  > form > .form-group {
    margin-top: 15px;
    margin-bottom: 15px;
    @extend .form-inline;
    .form-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
}


// Prevent IEF ops buttons from breaking inside tables
td .ief-entity-operations {
  white-space: nowrap;
}

.webform-filter-form {
  margin-bottom: 50px;
}

/* ---------- required fields ----------- */
label span.form-required {
  color: #c33;
  padding-left: 2px;
}

.fieldgroup.form-composite span.form-required:after {
  color: #c33;
  content: '*';
  display: inline-block;
  padding-left: 2px;
}
