@font-face {
  font-family: 'beryllium-icons';
  src:  url('../fonts/beryllium-icons/beryllium-icons.eot?8qbem6');
  src:  url('../fonts/beryllium-icons/beryllium-icons.eot?8qbem6#iefix') format('embedded-opentype'),
    url('../fonts/beryllium-icons/beryllium-icons.ttf?8qbem6') format('truetype'),
    url('../fonts/beryllium-icons/beryllium-icons.woff?8qbem6') format('woff'),
    url('../fonts/beryllium-icons/beryllium-icons.svg?8qbem6#beryllium-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="beryllium-icon-"], [class*=" beryllium-icon-"], .beryllium-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beryllium-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-closethick {
  &:after {
    content: "\00d7";
  }
}

.beryllium-icon-money:before {
  content: "\e913";
}
.beryllium-icon-blog:before {
  content: "\e914";
}
.beryllium-icon-calendar:before {
  content: "\e915";
}
.beryllium-icon-case-study:before {
  content: "\e916";
}
.beryllium-icon-form:before {
  content: "\e917";
}
.beryllium-icon-map-marker:before {
  content: "\e918";
}
.beryllium-icon-page:before {
  content: "\e919";
}
.beryllium-icon-person-outline:before {
  content: "\e91a";
}
.beryllium-icon-promo:before {
  content: "\e91b";
}
.beryllium-icon-speech-bubble:before {
  content: "\e91c";
}
.beryllium-icon-tag:before {
  content: "\e91d";
}
.beryllium-icon-bar-graph:before {
  content: "\e900";
}
.beryllium-icon-cog:before {
  content: "\e901";
}
.beryllium-icon-down-arrow:before {
  content: "\e902";
}
.beryllium-icon-drag-cursor:before {
  content: "\e903";
}
.beryllium-icon-hierarchy-map:before {
  content: "\e904";
}
.beryllium-icon-key:before {
  content: "\e905";
}
.beryllium-icon-left-arrow:before {
  content: "\e906";
}
.beryllium-icon-left-triangle:before {
  content: "\e907";
}
.beryllium-icon-paintbrush:before {
  content: "\e908";
}
.beryllium-icon-people:before {
  content: "\e909";
}
.beryllium-icon-person:before {
  content: "\e90a";
}
.beryllium-icon-plug:before {
  content: "\e90b";
}
.beryllium-icon-question-mark:before {
  content: "\e90c";
}
.beryllium-icon-right-arrow:before {
  content: "\e90d";
}
.beryllium-icon-stacked-squares:before {
  content: "\e90e";
}
.beryllium-icon-star:before {
  content: "\e90f";
}
.beryllium-icon-three-bars:before {
  content: "\e910";
}
.beryllium-icon-up-arrow:before {
  content: "\e911";
}
.beryllium-icon-wrench:before {
  content: "\e912";
}
