.js-media-library-views-form::after {
  content: '';
  clear: both;
  display: table;
}

.js-media-library-menu.links {
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;

  > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;

    &:first-child {
      padding-left: 0;
    }

    a {
      padding-bottom: 10px;
      color: #000a12;
      &:hover {
        color: $blue;
        text-decoration: none;
      }
      &.active {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }
  }
}

.js-media-library-view .views-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div {
    flex-basis: 100%;
  }
  .media-library-select-all {
    flex-basis: 100%;
    input {
      margin-right: 5px;
    }
  }
}

.js-media-library-item:not(.media-library-item--table) {
  flex-basis: 24% !important;
  margin-bottom: 1.4%;
  position: relative;
  padding: 32px 8px 40px 8px;
  background-color: $panel-background;

  .js-click-to-select-checkbox {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .js-form-type-checkbox {
      width: 100%;
      height: 100%;
      label {
        padding-top: 8px;
        padding-left: 28px;
        width: 100%;
        height: 100%;
      }
    }
  }

  article.contextual-region {
    position: unset;
    div {
      background-color: $panel-border;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .js-media-library-item-preview,
    .field--type-image {
      display: flex;
      justify-content: center;
      position: relative !important;
      width: auto;
      padding: 0;
      background-color: unset;
    }
  }
}
