table.webform-forms {
  margin-top: 1em;
}

.webform-message {
  display: none !important;
}

.button-webform-play {
  @extend .btn-xs;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.region-content > .webform-ajax-link.button {
  display: none;
}

.webform-preview-wrapper {
  margin-bottom: 2em;
  text-align: right;
}

.webform-tabs.ui-tabs {
  .ui-tabs-panel {
    padding-left: 0;
    padding-right: 0;
  }
}
