
/*!
 * jQuery UI CSS Framework 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/category/theming/
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 9999 !important;
	&.ui-autocomplete {
		padding: 5px 0;
		li {
			a {
				color: #262626;
				padding: 3px 20px;
				display: block;
				&:hover {
					text-decoration: none;
					background-color: #f5f5f5;
				}
			}
		}
	}
}

/* Fix dialog overflow and scroll issue
----------------------------------*/
.ui-dialog:not(.ui-draggable-disabled):not(.ui-resizable-disabled):not(.editor-link-dialog) .ui-dialog-content {
	max-height: calc(100vh - 250px) !important;
	overflow: auto !important;
	&#drupal-off-canvas {
		max-height: none !important;
	}
}

.ui-dialog {
	border: 1px solid #c5c5c5 !important;
	&.editor-link-dialog {
		.ui-dialog-content {
			overflow: visible !important;
		}
	}
}

.ui-dialog-buttonpane {
	border-top: 1px solid #c5c5c5 !important;
	border-bottom: 1px solid #c5c5c5 !important;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
