@import "../../bootstrap-variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
/*!
 * jQuery UI Menu 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/menu/#theming
 */
.ui-menu {
	// list-style: none;
	// padding: 0;
	// margin: 0;
	// display: block;
	// outline: none;
  padding-left: 0;
  list-style: none;
	border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	max-height: 300px;
	overflow-y: auto;
}
.ui-menu .ui-menu {
	// position: absolute;
}
.ui-menu .ui-menu-item {
	// position: relative;
	// margin: 0;
	// padding: 3px 1em 3px .4em;
	// cursor: pointer;
	// min-height: 0; /* support: IE7 */
	// /* support: IE10, see #8844 */
	// list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-menu-divider {
	// margin: 5px 0;
	// height: 0;
	// font-size: 0;
	// line-height: 0;
	// border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	// margin: -1px;
}

/* icon support */
.ui-menu-icons {
	// position: relative;
}
.ui-menu-icons .ui-menu-item {
	// padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	// position: absolute;
	// top: 0;
	// bottom: 0;
	// left: .2em;
	// margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	// left: auto;
	// right: 0;
}
