{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}

{% if form['#compose'] %}
  <div id="compose-validation-message"></div>
  <div class="compose-form">
    <div class="compose-tasks" data-offset-top>
      <div class="compose-tasks-content">
        {{ form.compose_tasks }}
        <div class="form-actions">
          {{ form.actions }}
        </div>
      </div>
    </div>
    {{ form|without('actions', 'compose_tasks') }}

  </div>
{% else %}
  <div class="layout-node-form clearfix row">
    <div class="node-edit-main col-md-8">
      <div class="white-bg inner-wrapper">
        {{ form|without('advanced', 'actions') }}
      </div>
    </div>
    <div class="node-edit-sidebar col-md-4">
      <div class="white-bg inner-wrapper">
        <div class="sidebar-actions">
          {{ form.actions }}
        </div>
        {{ form.advanced }}
      </div>
    </div>
  </div>
{% endif %}
